<%- include('partials/header') %>
    <main>
        <h1>
            <%= title %>
        </h1>
        <section>
            <h2>Here are some service project categories:</h2>
            <ul>
                <% categories.forEach(category=> { %>
                    <li>
                        <%= category.name %>
                    </li>
                    <% }); %>
            </ul>
        </section>
    </main>
    <%- include('partials/footer') %>