<%- include('partials/header') %>
    <main>
        <h1>
            <%= title %>
        </h1>
        <div>
            <h2>Here are some service project categories:</h2>
            <ul>
                <li>Environmental</li>
                <li>Educational</li>
                <li>Community Service</li>
                <li>Health and Wellness</li>
            </ul>
        </div>
    </main>
    <%- include('partials/footer') %>